#tabla-general-liga.table {
  --bs-table-striped-bg: #a0c8c3 !important;
  --bs-table-bg: #cce2e4 !important;
  --bs-table-hover-bg: #1c9997;
}

.clean-navbar {
}

.clean-navbar {
  background-image: url("../../assets/img/grass.jpg");
}

a.nav-link {
  background-color: rgba(215,255,110,.75);
  color: var(--bs-gray-dark);
  /*border-radius: 10%;*/
  /*border-top-right-radius: 25%;*/
}

#navcol-1 {
  background-color: rgba(8,81,7,0.37);
}

