#tabla-general-liga.table {
  --bs-table-striped-bg: #a0c8c3 !important;
  --bs-table-bg: #cce2e4 !important;
  --bs-table-hover-bg: #1c9997;
  --bs-table-hover-color: #cce2e4;
  width: 80%;
}

#tabla-general-liga.table thead th {
  background-color: rgba(0,128,122,0);
}

#tabla-general-liga.table thead {
  background-image: linear-gradient(144deg, #006750, #008d8c 50%, #48a3a7);
}

.clean-navbar.bg-white {
  background-color: rgba(166, 212, 14) !important;
}

a.nav-link {
  /*background-color: rgba(215,255,110,.75);*/
  color: var(--bs-gray-dark);
  /*border-radius: 10%;*/
  /*border-top-right-radius: 25%;*/
}

#navcol-1 {
  /*background-color: rgba(8,81,7,0.37);*/
}

footer.page-footer {
  background-image: url("../../assets/img/grass.jpg");
}

footer.page-footer div.container div.row div.col-sm-3 ul li a {
  color: black;
}

footer.page-footer div.container div.row div.col-sm-3 h5 {
  color: black;
}

footer.page-footer div.container div.row {
  background-color: rgba(166,212,14,0.57);
}

#banner-index{
  background-image:url("../../assets/img/HAALAND.jpg");
}